body {
    align-items: center;
    text-align: center;
    margin: 40px;
    background-color: #f0f8ff; /* Bleu clair */
    font-family: Arial, sans-serif;
    color: #000080; /* Bleu marine */
}

#container {
    width: 80%;
    margin: 0 auto;
}

#searchInput {
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

#communeTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#communeTable th, #communeTable td {
    border: 1px solid #000080; /* Bleu marine */
    padding: 10px;
    text-align: left;
}

a {
    color: #000080; /* Bleu marine */
    text-decoration: underline;
}

header {
    width: 100%;
    background-color: #3498db;
    color: white;
    padding: 10px;
    text-align: left;
    margin-bottom: 20px;
}

main {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

table {
    border-collapse: collapse;
    width: 48%;
    height: 300px; /* Ajustez la hauteur selon vos besoins */
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    overflow: hidden; /* Masque le contenu dépassant de la cellule */
    white-space: nowrap; /* Empêche le texte de se replier à la ligne */
    text-overflow: ellipsis; /* Ajoute des points de suspension pour le texte dépassant */
}

th {
    background-color: #3498db;
    color: white;
}

td {
    background-color: #ecf0f1;
}

#map {
    height: 400px;
    width: 48%;
}
.frequence-green {
    width: 16px;
    height: 16px;
    background-color: #2ecc71;
}
.frequence-red {
    width: 16px;
    height: 16px;
    background-color: #e74c3c;
}
#map {
    height: 400px;
    margin-top: 20px;
}
footer {
    background-color: #808080; /* Gris */
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}